# Vim temporary files
*~
*.swp
*.swo

# Random application configs
.config/erl_observer
.config/mapeditor.org
.config/SunVox
.config/milkytracker
.config/VCMI Team
.config/vcmi
.config/Android Open Source Project
.config/QtProject.conf
.config/UDP Software
.config/autostart
.config/ranger
.config/skypeforlinux
.config/vlc
.config/xfce4
.config/qutebrowser/qsettings
.config/Genymobile
.config/Slack
.config/Thunar
.config/Trolltech.conf
.config/chromium
.config/geany
.config/inkscape
.config/menus
.config/htop
.config/mimeapps.list
.config/termite
.config/spotify
.config/VirtualBox
.config/discord
.config/gcloud
.config/configstore
.config/dconf
.config/gtk-2.0
.config/gtk-3.0
.config/Mist
.config/Electron
.config/Code - OSS/
.config/CCP
.config/google-chrome
.config/gconf
.config/matterhorn
.config/mopidy
.config/oni
.config/pavucontrol.ini
.config/pulse
.config/teamviewer
.config/GIMP
.config/draw.io
.config/unity3d
.config/lutris
.config/aseprite
.config/yarn
.config/systemd
.config/Cadence
.config/Popcorn-Time
.config/REAPER
.config/blender
.config/falkTX
.config/rncbc.org
.config/BraveSoftware
.config/Log
.config/jack
.config/spotify-tui
.config/virtscreen
.config/Tresorit
.config/godot
.vim/plugged
.xmonad/.stack-work
.xmonad/xmonad.state
.config/Google
.config/zoomus.conf
.config/cef_user_data
.config/Unknown Organization
.config/Microsoft
.config/BasemarkGPU
.config/teams
.config/flameshot