# Vim temporary files
*~
*.swp
*.swo

# Emacs files
/.emacs.d/.prose
/.emacs.d/projects

# Random application configs
.config/erl_observer
.config/mapeditor.org
.config/SunVox
.config/milkytracker
.config/VCMI Team
.config/vcmi
.config/Android Open Source Project
.config/QtProject.conf
.config/UDP Software
.config/autostart
.config/ranger
.config/skypeforlinux
.config/vlc
.config/xfce4
.config/qutebrowser/qsettings
.config/Genymobile
.config/Slack
.config/Thunar
.config/Trolltech.conf
.config/chromium
.config/geany
.config/inkscape
.config/menus
.config/htop
.config/mimeapps.list
.config/termite
.config/spotify
.config/VirtualBox
.config/discord
.config/gcloud
.config/configstore
.config/dconf
.config/gtk-2.0
.config/gtk-3.0
.config/Mist
.config/Electron
.config/Code - OSS/
.config/CCP
.config/google-chrome
.config/gconf
.config/matterhorn
.config/mopidy
.config/oni
.config/pavucontrol.ini
.config/pulse
.config/teamviewer
.config/GIMP
.config/draw.io
.config/unity3d
.config/lutris
.config/aseprite
.config/yarn
.config/systemd
.config/Cadence
.config/Popcorn-Time
.config/REAPER
.config/blender
.config/falkTX
.config/rncbc.org
.config/BraveSoftware
.config/Log
.config/jack
.config/spotify-tui
.config/virtscreen
.config/Tresorit
.config/godot
.vim/plugged
.xmonad/.stack-work
.xmonad/xmonad.state
.config/Google
.config/zoomus.conf
.config/cef_user_data
.config/Unknown Organization
.config/Microsoft
.config/BasemarkGPU
.config/teams
.config/flameshot
.config/firebase
.config/yoshimi
.config/Signal
.config/figma-linux
.config/gatsby
.config/gh
.config/libreoffice
.config/protonmail
.config/shadow-electron-starter
.config/Code
.config/.org.chro
/.config/.org.chromium.Chromium.puOYU5
/.config/Daedalus Mainnet/
/.config/GitKraken/
/.config/MJML/
/.config/Raspberry Pi/
/.config/Synergy/
/.config/calibre/
/.config/dolphin-emu/
/.config/flutter/
/.config/gpick/
/.config/guix/current
/.config/nault/
/.config/zls.json
/.config/MuseScore/
/.config/user-dirs.locale
/.config/amsynth/
/.config/builtin.zig
/.config/chrysalis/
/.config/jxbrowser/
/.config/kritadisplayrc
/.config/kritarc
/.config/pudb/
/.config/seergdb/
/.config/shirakumo/
/.config/sway/
/.config/unityhub/
/.config/user-dirs.dirs
/.emacs.d/org-roam.db
/.emacs.d/org-fc-reviews.tsv
/.config/Mullvad VPN/
/.config/PopTracker/
/.config/citra-emu/
/.config/deluge/
/.config/filezilla/
/.config/go/
/.config/gzdoom/
/.config/jgit/
/.config/pharo-launcher/
/.config/pharo/
