/* No white flash on new tab opening in dark theme */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html { background: #222 !important; }

/* hide normal horizontal tab bar */
#TabsToolbar { visibility: collapse; }

#nav-bar {
    background: #21242b !important;
}

/* hide sidebar header for tree style tabs sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    background: #ff0000 !important;
}

#urlbar-background {
    /* background: #21242b !important; */
}

#identity-icon-box {
    background: #282c34 !important;
}

:root {
  --sidebar-width: 200px;
}

/* lock sidebar to specified width */
#sidebar-box, #sidebar-box #sidebar {
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    background: #21242b !important;
}

#sidebar { border-right: 1px solid #2B2A33; }

splitter#sidebar-splitter { display: none; }
