elpa/
scripts/private.el
.emacs.desktop
.emacs.desktop.lock
bookmarks
emojis
eshell
projectile-bookmarks.eld
projectile.cache
url
anaconda-mode/
recentf
smex-items
request
history
ac-comphist.dat
games
.org-id-locations