;; slack
(setq private/slack-client-id-remente ""
      private/slack-client-secret-remente ""
      private/slack-token-remente "")

;; gcal
(setq private/gcal-client-id ""
      private/gcal-client-secret ""
      private/gcal-calendar-id "")

;; tayl
(setq tayl-api-token "")

;; autoremote
(setq autoremote-api-key "")

;; irc
(setq private/irc-server "")
(setq private/irc-port 1234)
(setq private/irc-nick "")
(setq private/irc-password "")

;; västtrafik
(setq vasttrafik-api-key "")

;; reddit
(setq private/reddit-rss-feed "")

;; openai
(setq private/openai-key "")

(provide 'private)