(provide 'private)

;; slack
(setq private/slack-client-id-remente ""
      private/slack-client-secret-remente ""
      private/slack-token-remente "")

;; gcal
(setq private/gcal-client-id ""
      private/gcal-client-secret ""
      private/gcal-calendar-id "")

;; tayl
(setq tayl-api-token "")

;; autoremote
(setq autoremote-key "")
